//COLORS 
$backgroundColor: #DEDFEE;
$dragColumnBackground: rgba(190, 190, 190, 0.4);
$backlogBackground: #FFFFF0;
$progressBackground: #ffb347;
$completedBackground: #50C878;
$holdBackground: #DC143C;
$dragItemBackground: #fdfdfd;
$hoverItem: #ebe9e9;
$basicWhite: #FEFEFE;
$basicBlack: #000000;

//FONTS
$family: 'Merriweather', serif;
$firstWeight: 700;
$secondWeight: 900;

//Borders & Margins
$common: 10px;
$small: 5px;

//Responsivnes Breakpoint
$breakpoint: 800px;